* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


/* hide section login and sign up section
==========================================*/

.login-signup-hc-etc{
    position: absolute;
    top: 70px;
    right: 100px;
    z-index: 999;
    width: 250px;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: none;
}

.active .login-signup-hc-etc {
    display: block;
}


.winter-r-n{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
}

.winter-r-n a {
    width: 100%;
    text-decoration: none;
    font-size: var(--para-small-font);
    color: var(--secondry-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    cursor: pointer;
}

.winter-r-n a:hover{
    background-color: var(--hover-first-color);
}

.winter-r-n a span{
    font-size: 12px;
    background-color: #ff385c;
    color: var(--white-f);
    margin: 0 0 0 10px;
    padding: 1px 4px;
    border-radius: 5px;
}

.l-s-btn{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.l-s-btn .login-btn, .l-s-btn .signup-btn{
    width: 100%;
    height: auto;
    font-size: var(--para-small-font);
    color: var(--icon-para-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border: none;
    outline: none;
    background: none;
    text-align: start;
}

.l-s-btn .login-btn:hover{
    background-color: var(--hover-first-color);
}
.l-s-btn .signup-btn:hover{
    background-color: var(--hover-first-color);
}

.airbn-home-help-c{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.airbn-home-help-c a{
    width: 100%;
    height: auto;
    font-size: var(--para-small-font);
    color: var(--icon-para-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border: none;
    outline: none;
    background: none;
    text-align: start;
    text-decoration: none;
}

.airbn-home-help-c a:hover{
    background-color: var(--hover-first-color);
}


/* hide section login and signup section 
========================================= */

.login-signup-parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
    display: none;
}

.login-signup-child-sec {
    width: 568px;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.container-material-form-web{
    width: 90%;
    height: 90%;
}

.form-web-content .login-cross-icons{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
}

.login-cross-icons .l-s-cross-icon{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    
}

.login-cross-icons .l-s-cross-icon i{
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 50%;
    transition: var(--transition-pro);
    cursor: pointer;
    user-select: none;
}

.login-cross-icons .l-s-cross-icon i:hover{
    background-color: var(--secondry-color);
    color: var(--white-f);
}

.login-cross-icons .l-s-name span{
    font-size: var(--large-p-font);
    color: var(--secondry-color);
    font-weight: bold;
}

.or-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.or-section .or-sec-line{
    width: 44%;
    height: 1px;
    background-color: var(--primary-color);
}

.compnay-icon-name-material {
    width: 100%;
    height: 48px;
    position: relative;
    border: 1px solid var(--secondry-color);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: var(--transition-pro);
}

.compnay-icon-name-material:hover{
    background-color: var(--hover-first-color);
}

.compnay-icon-name-material .c-i-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondry-color);
    font-size: var(--para-font);
    font-weight: bold;
}

.compnay-icon-name-material .c-i-name .l-s-c-icon{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.compnay-icon-name-material .c-i-name .l-s-c-icon img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.compnay-icon-name-material .c-i-name .l-s-c-icon img {
    width: 20px;
    height: 20px;
    background-color: transparent;
}