* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/* navbar logo hide logo hide 
===================================*/
@media (max-width: 1120px) {
    .airbnb-logo .airbnb-sec-logo {
        display: none;
    }
}

@media (max-width: 950px) {
    .airbnb-logo{
       position: relative;
    }
    
    .nav-three-btn {
       position: absolute;
       left: 0;
    }
}

/* cards container media query
============================== */

@media (max-width: 1880px) {
    .inner-cards-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1640px) {
    .inner-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1128px) {
    .inner-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .inner-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .inner-cards-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 0px;
    }
}


/* Footer tab links links
============================== */

@media (max-width: 1128px) {
    .footer-tab-links {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 950px) {
    .footer-tab-links {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* Footer three section
------------------------ */

@media (max-width: 950px) {

    .footer-th-inner-sec {
        padding: 0px 0 20px 0;
    }

    .footer-th-inner-sec .footer-sec-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 258px 230px 230px;
        padding: 0;
    }

    .sha-content {
        border-bottom: 1px solid var(--primary-color);
        padding: 24px 0;
    }
}


/* Footer copy right section
------------------------ */
@media (max-width: 1128px) {
    .footer-th-inner-sec .footer-copyright-sec {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        padding: 24px 0;
    }

    .copyright-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0 0 0;
    }

    .copyright-content #copy-right-2023{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
    }
    
}