* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/* navbar section responsive  */

/* Navbar display none 780px  
=============================*/
@media (max-width:780px){
    .navbar {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0px;
        padding: 0 5%;
    }
    .multiple-icon-btn-contaner{
        box-shadow: 0px 15px 10px -15px #111;  
    }

    .nav-search-bar-container{
        display: block;
    }
    
    .multiple-icon-btn-child{
        width: 92%;
    }
    .nav-material {
        display: none;
    }
    /* filter and toggle button display none */
    .filter-btn{
        display: none;
    }
    .toggle-btn {
        display: none;
    }
    .icon-container .icon{
        width: 40px;
    }
    .icon i {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
}

@media (max-width:500px){
    .icon-container{
       height: 74px;
    }
    .icon-container .all-link-btns {
        gap: 25px;
        margin-top: 1px;
    }
}


/* navbar logo hide logo hide 
===================================*/
@media (max-width: 1120px) {
    .airbnb-logo .airbnb-sec-logo {
        display: none;
    }
}

@media (max-width: 950px) {
    .airbnb-logo{
       position: relative;
    }
    
    .nav-three-btn {
       position: absolute;
       left: 0;
    }
}

@media (max-width: 780px){
    .nav-three-btn{
        width: auto;
        margin-right: 10px;
    }

    .nav-btn {
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

/* cards container media query
============================== */

@media (max-width: 1880px) {
    .inner-cards-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1640px) {
    .inner-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1128px) {
    .inner-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .inner-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .inner-cards-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 0px;
    }
}


/* Footer tab links links
============================== */

@media (max-width: 1128px) {
    .footer-tab-links {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 950px) {
    .footer-tab-links {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px){
    .footer-tab-btns{
        width: 95%;
        height: 100%;
    }
    
    
    .footer-tab-btns-parent .f-icon:last-child{
        display: block;
    }
}


/* Footer three section
------------------------ */

@media (max-width: 950px) {

    .footer-th-inner-sec {
        padding: 0px 0 20px 0;
    }

    .footer-th-inner-sec .footer-sec-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 258px 230px 230px;
        padding: 0;
    }

    .sha-content {
        border-bottom: 1px solid var(--primary-color);
        padding: 24px 0;
    }
}


/* Footer copy right section
------------------------ */
@media (max-width: 1128px) {
    .footer-th-inner-sec .footer-copyright-sec {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        padding: 24px 0;
    }

    .copyright-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0 0 0;
    }

    .copyright-content #copy-right-2023{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
    }

    .copyright-content .f-hide-decimal{
        display: none;
    }
    
}

@media (max-width: 340px){
    .copyright-content li a .fa-brands{
        font-size: 20px;
        margin-left: 5px;
    }
}