* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}



/* hide search bar width below 780px 
======================================*/

.nav-search-bar-container {
    width: 100%;
    height: 54px;
    display: none;
}

.nav-search-bar-container .nav-search-bar-child {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search-bar-child .nav-search-bar-top {
    width: 90%;
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-decoration: none;
    cursor: pointer;
}

.nav-search-bar-top .nav-search-icon-top {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5px;
}

.nav-search-bar-top .nav-search-icon-top i {
    font-size: 20px;
    font-weight: bold;
}

.nav-h-p-two-name .nav-h-h-name {
    font-size: var(--para-small-font);
    color: var(--secondry-color);
    font-weight: bold;
}

.nav-h-p-two-name .nav-h-p-name span {
    font-size: var(--para-very-small-font);
    color: var(--icon-para-color);
    font-weight: bold;
}

.nav-search-bar-child .nav-hide-filter-btn {
    padding: 0 0 0 15px;
    text-decoration: none;
}

.nav-search-bar-child .nav-hide-filter-btn i {
    padding: 14px;
    border-radius: 50%;
    font-size: var(--large-p-font);
    font-weight: bold;
    border: 1px solid var(--icon-para-color);
    cursor: pointer;
}



/* hide section login and sign up section
==========================================*/

.login-signup-hc-etc {
    position: absolute;
    top: 70px;
    right: 100px;
    z-index: 999;
    width: 250px;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: none;
}

.active .login-signup-hc-etc {
    display: block;
}


.winter-r-n {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
}

.winter-r-n a {
    width: 100%;
    text-decoration: none;
    font-size: var(--para-small-font);
    color: var(--secondry-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    cursor: pointer;
}

.winter-r-n a:hover {
    background-color: var(--hover-first-color);
}

.winter-r-n a span {
    font-size: 12px;
    background-color: #ff385c;
    color: var(--white-f);
    margin: 0 0 0 10px;
    padding: 1px 4px;
    border-radius: 5px;
}

.l-s-btn {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.l-s-btn .login-btn,
.l-s-btn .signup-btn {
    width: 100%;
    height: auto;
    font-size: var(--para-small-font);
    color: var(--icon-para-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border: none;
    outline: none;
    background: none;
    text-align: start;
}

.l-s-btn .login-btn:hover {
    background-color: var(--hover-first-color);
}

.l-s-btn .signup-btn:hover {
    background-color: var(--hover-first-color);
}

.airbn-home-help-c {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.airbn-home-help-c a {
    width: 100%;
    height: auto;
    font-size: var(--para-small-font);
    color: var(--icon-para-color);
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border: none;
    outline: none;
    background: none;
    text-align: start;
    text-decoration: none;
}

.airbn-home-help-c a:hover {
    background-color: var(--hover-first-color);
}


/* hide section login and signup section 
========================================= */

.login-signup-parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
    display: none;
}

.login-signup-child-sec {
    width: 568px;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}


.container-material-form-web {
    width: 90%;
    height: 90%;
}

.l-s-heading {
    padding: 30px 0 20px 0;
}

.l-s-heading h3 {
    font-size: var(--heading-font);
    font-weight: bold;
    color: var(--secondry-color);
}

.phone-number-form form {
    width: 100%;
    padding: 20px 0;
}

.phone-number-form form .slect-country-ph {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--secondry-color);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.phone-number-form form .slect-country-ph select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: var(--para-font);
    font-weight: normal;
    background-color: var(--white-f);
    padding: 0 10px;
}

.phone-number-form form .phone-number-input {
    width: 100%;
    height: 48px;
    margin: 0 0 10px 0;
    border: 1px solid var(--secondry-color);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.phone-number-form form .phone-number-input input {
    width: 100%;
    height: 100%;
    font-size: var(--para-font);
    font-weight: normal;
    padding: 0 10px;
    border: none;
    outline: none;
}

.phone-number-form form .form-small-text p {
    font-size: var(--para-small-font);
    font-weight: normal;
    color: var(--secondry-color);
    padding: 0 0 10px 0;
}

.phone-number-form form .form-small-text p a {
    color: var(--secondry-color);
    line-height: var(--para-font);

}

.phone-number-form form .form-continue-btn {
    width: 100%;
    height: 48px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px 0 0 0;
}

.phone-number-form form .form-continue-btn button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #ff385c;
    font-size: var(--large-p-font);
    font-weight: bold;
    color: var(--white-f);
}

.form-web-content .login-cross-icons {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
}

.login-cross-icons .l-s-cross-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

}

.login-cross-icons .l-s-cross-icon i {
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 50%;
    transition: var(--transition-pro);
    cursor: pointer;
    user-select: none;
}

.login-cross-icons .l-s-cross-icon i:hover {
    background-color: var(--hover-first-color);
}

.login-cross-icons .l-s-name span {
    font-size: var(--large-p-font);
    color: var(--secondry-color);
    font-weight: bold;
}

.or-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.or-section .or-sec-line {
    width: 44%;
    height: 1px;
    background-color: var(--primary-color);
}

.compnay-icon-name-material {
    width: 100%;
    height: 48px;
    position: relative;
    border: 1px solid var(--secondry-color);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: var(--transition-pro);
}

.compnay-icon-name-material:hover {
    background-color: var(--hover-first-color);
}

.compnay-icon-name-material .c-i-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondry-color);
    font-size: var(--para-font);
    font-weight: bold;
}

.compnay-icon-name-material .c-i-name .l-s-c-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.compnay-icon-name-material .c-i-name .l-s-c-icon img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.compnay-icon-name-material .c-i-name .l-s-c-icon img {
    width: 20px;
    height: 20px;
    background-color: transparent;
}


/* bottom login section
======================== */

.b-lo-sec {
    display: none;
    opacity: 0;
}

.b-lo-sec.active{
    opacity: 1;
}

.b-lo-sec {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: var(--white-f);
}

.b-lo-sec .b-lo-child-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-lo-sec .b-lo-child-sec .b-lo-child-sec-material {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b-lo-child-sec-material .b-l-s {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    padding: 15px 0;
    margin: 0 15px;
}

.b-lo-child-sec-material .b-l-s:hover .b-l-content p{
   color: #E81948;
}

.b-l-content p {
    font-weight: normal;
    font-size: var(--para-small-font);
    color: var(--icon-para-color);
}

.b-l-content p .active{
    color: #E81948;;
}