* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


:root {
    --primary-color: rgba(0, 0, 0, 0.20);
    --secondry-color: #222222;
    --icon-para-color: #717171;
    --transition-pro: all 0.3s linear;
    --heading-font: 20px;
    --large-p-font: 18px;
    --para-font: 16px;
    --para-small-font: 14px;
    --para-very-small-font: 12px;
    --white-f: #fff;
    --hover-first-color: #f7f6f2;
}

.navbar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 5%;
    overflow: hidden;
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: var(--white-f);
    /* z-index: 10; */
}

.nav-material {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-three-btn {
    transition: var(--transition-pro);
    border: 1px solid var(--primary-color);
    width: 360px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    user-select: none;
    margin-left: 10%;
}

.nav-three-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-btn {
    font-size: var(--para-font);
    font-weight: 600;
    color: var(--secondry-color);
    border-right: 1px solid var(--primary-color);
    padding: 0 14px;
}

.add-guest-btn {
    border: none;
    font-weight: normal;
    color: var(--icon-para-color);
    padding: none;
}

.nav-search-icon {
    font-size: var(--para-font);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: #fff;
    border-radius: 100%;
    background-color: #ff385c;
}

.nav-logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items a {
    color: var(--secondry-color);
    font-size: var(--para-font);
    text-decoration: none;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 10px;
}

.nav-items a:hover {
    background-color: var(--hover-first-color);
}

.web-icon .w-icon {
    padding: 10px;
    border-radius: 50%;
}

.web-icon .w-icon:hover {
    background-color: var(--hover-first-color);
}

.user-humburger-icon {
    width: 86px;
    height: 48px;
    padding: 8px 8px 8px 14px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    user-select: none;
}

.user-humburger-icon:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: var(--transition-pro);
}

.user-humburger-icon .user-icon {
    font-size: 30px;
    /* color: var(--primary-color); */
    color: var(--icon-para-color);
}

.user-humburger-icon .humb-icon {
    color: var(--icon-para-color);
}


/* ================================
      maine section start
=============================== */

.layout-container {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.layout-container .layout {
    width: 90.89%;
}

.multiple-icon-btn-contaner {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-f);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* position: fixed;
    top: 80px;
    left: 0;
    z-index: 10; */
}

.multiple-icon-btn-child{
    width: 90.89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 78px;
    width: auto;
    background: #fff;
    border-radius: 13px;
}

.icon-container .all-link-btns {
    width: 100%;
    display: flex;
    gap: 36px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: hidden;
    user-select: none;
    margin-top: 5px;
}

.all-link-btns.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.all-link-btns.dragging .link-btn {
    user-select: none;
    pointer-events: none;
}

.all-link-btns .link-btn {
    height: 78px;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: var(--transition-pro);
}

.link-btn .link-btn-img img {
    width: 24px;
    height: 24px;
    opacity: .5;
}

.link-btn.active .link-btn-img img{
    opacity: 1;
}

.link-btn .link-btn-name span {
    font-size: var(--para-small-font);
    font-weight: normal;
    color: var(--icon-para-color);
}

.link-btn.active .link-btn-name span {
    color: var(--secondry-color);
}

.btn-line {
    width: 100%;
    height: 2px;
    transition: var(--transition-pro);
    background-color: var(--primary-color);
    border-radius: 2px;
    margin: 5px 0 0 0;
    opacity: 0;
}

.link-btn.active .btn-line {
    opacity: 1;
    background-color: black;
}

.active,
.link-btn:hover .btn-line {
    opacity: 1;
}

.icon-container .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    /* background: linear-gradient(90deg, #fff 70%, transparent); */
    background-color: #fff;
    z-index: 1;
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background-color: #fff;
    /* background: linear-gradient(-90deg, #fff 70%, transparent); */
}

.icon i {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: var(--para-font);
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.icon i:hover {
    background: #efedfb;
}

.filter-btn {
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-left: 20px;
}

.filter-btn p {
    padding-left: 10px;
    font-size: var(--para-small-font);
    font-weight: 600;
    color: var(--secondry-color);
}

.toggle-btn {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 0px 10px;
    user-select: none;
    margin-left: 20px;
    white-space: nowrap;
}

.toggle-btn p {
    font-size: var(--para-small-font);
    font-weight: 500;
    padding-right: 10px;
    color: var(--secondry-color);
}

.toggle-btn .toggle_b {
    width: 40px;
    height: 28px;
    background-color: #b0b0b0;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
}

.toggle-btn .toggle_b.active {
    background-color: #222222;
}

.toggle_b .toggle-on-of {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: var(--transition-pro);
}

.toggle-btn .toggle_b.active .toggle-on-of {
    position: absolute;
    left: 13px;
    top: 2px;
}

.toggle_b .toggle-on-of .check-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--para-font);
    display: none;
    transition: var(--transition-pro);
}

.toggle_b .toggle-on-of .check-icon .fa-solid {
    font-size: var(--para-small-font);
}

.toggle_b.active .toggle-on-of .check-icon {
    display: block;
}


/* card section start 
=====================*/


.cards-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    display: none;
    margin-top: 20px;
}

.active .cards-container {
    display: block;
}

.inner-cards-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 360px);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 360px;
    row-gap: 40px;
    column-gap: 20px;
}

.inner-cards-container .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    white-space: nowrap;
    border-radius: 10px;
}

.inner-cards-container .card .card-image {
    width: 100%;
    height: 260px;
    position: relative;
}

.cards-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* btn cnt  */
.splide__arrow:disabled {
    opacity: 0;
}

.splide:hover .splide__arrow:disabled {
    opacity: 0;
}

.splide__arrow{
    opacity: 1;
    font-size: 12px;
    background-color: #f1f1f1;
}

/* .splide:hover .splide__arrow{
    opacity: 1;
} */

.splide__arrow--prev {
    opacity: .5;
}

.splide:hover .splide__arrow--prev {
    opacity: 1;
}

.splide__arrow--next {
    opacity: .5;
}

.splide:hover .splide__arrow--next{
    opacity: 1;
}

.splide__pagination__page {
    opacity: 1;
    height: 6px;
    width: 6px;
}

.card .card-image .card-heart {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
}

.card .card-content p {
    font-size: var(--para-font);
    color: var(--secondry-color);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}

.card .card-content span {
    font-size: var(--para-font);
    color: var(--icon-para-color);
    font-weight: normal;
    display: block;
    line-height: 24px;
}

/* Show more button
==================== */

.show-more-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    margin: 56px 0 0 0;
}


.show-more-btn .show-mor{
    padding: 14px 24px;
    font-size: var(--para-font);
    background-color: var(--secondry-color);
    color: var(--white-f);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 16px 0 0 0;
}


.show-more-btn span{
    color: var(--secondry-color);
    font-size: var(--large-p-font);
    font-weight: 700;
}



/* Footer section start
======================== */

.footer {
    width: 100%;
    background-color: var(--hover-first-color);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--primary-color);
}

.footer .footer-material{
    width: 90.89%;
    padding: 50px 0;
}

.footer-main-heading h2{
    font-size: 24px;
    color: var(--secondry-color);
    font-weight: bold;
    margin: 0 0 10px 0;
}

.footer-tab-btns-parent{
    width: 100%;
    height: 50px;
    position: relative;
    
}

.footer-tab-btns{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    overflow: hidden;
    scroll-behavior: auto;
    cursor: grab;
}

.footer-tab-btns.dragging{
    scroll-behavior: smooth;
    cursor: grab;
}

.footer-tab-btns.dragging .f-btn{
    user-select: none;
    pointer-events: none;
}

.btns_cont{
    width: 100%;
}

.f-btn{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    white-space: nowrap;
}

.f-btn button{
    font-size: var(--para-font);
    color: var(--icon-para-color);
    font-weight: normal;
    background-color: transparent;
    border: none;
    padding: 10px 0 0 0;
}

.f-btn.active  button{
    color: var(--secondry-color);
    font-weight: bold;
}

.f-btn .f-b-line{
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 5px;
    opacity: 0;
}

.f-btn:hover .f-b-line{
    background-color: var(--primary-color);   
    opacity: 1;
}

.f-btn.active .f-b-line{
    opacity: 1;
    background-color: var(--secondry-color);   
}

/* footer arrow buttons */

.footer-tab-btns-parent .f-icon{
    width: 50px;
    height: 50px;
    background-color: var(--hover-first-color);
    padding: 14px 16px;
}

.footer-tab-btns-parent .f-icon:first-child{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: none;
}

.footer-tab-btns-parent .f-icon:last-child{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: none;
}

/* tab links 
------------- */

.footer-tab-links-parent{
    display: none;    
}

.footer-tab-links{
    display: grid;
    grid-template-rows: repeat(2,50px);
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 50px;
    row-gap: 24px;
    column-gap: 8px;
    margin: 40px 0 0 0;
    list-style-type: none;
}

.footer-country-name a{
    text-decoration: none;
}

.footer-country-name a span{
    display: block;
    font-size: var(--para-font);
    font-weight: normal;
    line-height: 20px;
}

.footer-show-more-btn{
    cursor: pointer;
}

/* Hide links */

.footer-hide-link{
    display: none;
}

.active .footer-hide-link{
    display: block;
}

.footer-country-name a span:first-child{
    color: var(--secondry-color);
}

.footer-country-name a span:last-child{
    color: var(--icon-para-color);
}


/* Footer three section support, hosting and airbnb
==================================================== */


.footer-three-sect{
    width: 100%;
    background-color: var(--hover-first-color);
    display: flex;
    justify-content: center;
}

.footer-th-inner-sec{
    width: 90.89%;
    padding: 50px 0 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-th-inner-sec .footer-sec-content{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1,200px);
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 258px;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 0 50px 0;
}

.sha-content{
    list-style-type: none;
}

.sha-content li{
    text-decoration: none;
    line-height: 30px;
}

.sha-content li:first-child{
    font-size: var(--para-font);
    font-weight: bold;
    color: var(--secondry-color);
}

.sha-content li a{
    text-decoration: none;
    font-size: var(--para-font);
    font-weight: normal;
    color: var(--secondry-color);
} 

.sha-content li a:hover{
    text-decoration: underline;
}

/* footer copy right section 
=============================*/

.footer-th-inner-sec .footer-copyright-sec{
     width: 100%;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 0;
}

.copyright-content{
    display: flex;
    list-style-type: none;
}

.copyright-content li{
    margin-right: 15px;
}


.copyright-content li:last-child{
    margin: 0;
}

.copyright-content li a,i{
    text-decoration: none;
    font-size: var(--para-font);
    font-weight: normal;
    color: var(--secondry-color);
}

.copyright-content li a:hover{
    text-decoration: underline;
}

.copyright-content li button,span{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--para-font);
    font-weight: normal;
    color: var(--secondry-color);
}

.copyright-content li a .fa-brands{
    font-size: 20px;
    margin-left: 10px;
}

/* =================
scroll top button
==================== */

.to-top{
    position: fixed;
    bottom: 16px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--white-f);
    background-color: var(--secondry-color);
    transition: var(--transition-pro);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
}

.to-top i{
    color: var(--white-f);
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}